<div id="body">
    <h4>MainComponent</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum ligula orci, in gravida metus congue sit amet. Fusce cursus venenatis augue nec feugiat. Nunc ac posuere diam, id laoreet est. Donec ullamcorper sed ligula id tincidunt. Donec elit quam, tempor in facilisis vel, fermentum sed lectus. Nulla efficitur rutrum dui, in posuere felis pellentesque eu. Quisque cursus purus eget est fringilla, in dictum massa pharetra. Vivamus sit amet justo risus. Cras accumsan magna quis gravida eleifend. Integer lectus purus, vulputate at nunc in, commodo sagittis nisi.
    </p>
    <p>
        Mauris suscipit dictum tortor. Curabitur ut vehicula nibh. Nulla sit amet sapien diam. Ut hendrerit, justo eget sodales porttitor, erat arcu vehicula ipsum, nec lobortis lectus nibh at neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eget nulla ligula. Aenean aliquet aliquam vestibulum.
    </p>
</div>